@import "./tailwind.css";
@import url("https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700 & family= Poppins:wght@100;200; 300;400;500;600;700;800;900 & display=trocar");
:root {
  --fontInter: "Inter", sans-serif;
  --fontPoppins: "Poppins", sans-serif;

  font-family: var(--fontPoppins);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 5px; 
}
::-webkit-scrollbar-thumb {
  background-color: #6d6c6c; 
  border-radius: 6px; 
}

html,
body {
  scrollbar-color: #4a4a4a #f1f1f1;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  transition: background 0.2s ease-in-out;
}
p {
  font-family: var(--fontInter);
}
.container_grid {
  max-height: 70rem;
}
.frame_show_more {
  backdrop-filter: blur(2px);
}
.max_height_none {
  max-height: none !important;
}
.container_loading {
  background-color: #fff;
}
.container_more_info {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}
.container_more_info_on {
  animation: show_container_more_info 0.3s ease-in-out forwards;
}
.container_more_info_off {
  animation: hide_container_more_info 0.3s ease-in-out forwards;
}

.offcanvas {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.show_offCanvas_card {
  animation: show_offCanvas 0.5s ease-in-out forwards;
}
.hide_offCanvas_card {
  animation: hide_offCanvas 0.5s ease-in-out forwards;
}
.card_search {
  transform: translateY(150%);
  transition: transform 0.5s ease-in-out;
}
.card_search_on {
  animation: show_card_search 0.5s ease-in-out forwards;
}
.card_search_off {
  animation: hide_card_search 0.5s ease-in-out forwards;
}

@keyframes hide_card_search {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(150%);
  }
}

@keyframes show_card_search {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes show_offCanvas {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes hide_offCanvas {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes show_container_more_info {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hide_container_more_info {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
