@import "./tailwind.css";
:root {
  --fontInter: "Inter", sans-serif;
  --fontPoppins: "Poppins", sans-serif;

  font-family: var(--fontPoppins);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  scroll-behavior: smooth;
  transition: background 0.2s ease-in-out;
}
p {
  font-family: var(--fontInter);
}
.container_grid {
  max-height: 70rem;
}
.frame_show_more {
  backdrop-filter: blur(2px);
}
.max_height_none {
  max-height: none !important;
}
.container_loading {
  background-color: #fff;
}
.container_more_info {
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}
.container_more_info_on {
  animation: show_container_more_info 0.3s ease-in-out forwards;
}
.container_more_info_off {
  animation: hide_container_more_info 0.3s ease-in-out forwards;
}

.offcanvas {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.show_offCanvas_card {
  animation: show_offCanvas 0.5s ease-in-out forwards;
}
.hide_offCanvas_card {
  animation: hide_offCanvas 0.5s ease-in-out forwards;
}

@keyframes show_offCanvas {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes hide_offCanvas {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


@keyframes show_container_more_info {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hide_container_more_info {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
